*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

header{
    padding-top: 50px;
    background: url(../Images/developer.png), url(../Images/header_bg.png),#fff8f3;
    background-repeat: no-repeat;
    background-position: top left, right bottom;

}

nav{
    width: 89%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


.logo h2{
    font-size: 45px;
    font-weight: 900git;
}

.color-orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: #fff8f3;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#banner{
    margin: 47px 38px 0 231px;
    display: flex;
    align-items: center;
}

#banner-content{
    max-width: 580px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .bannar img{
    max-width: 580;
}