*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

header{
    padding-top: 50px;
    background: url(../Images/developer.png), 
    url(../Images/header_bg.png),#fff8f3;
    background-repeat: no-repeat;
    background-position: 23px 38px, right bottom;

}

nav{
    width: 89%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


.logo h2{
    font-size: 45px;
    font-weight: 900git;
}

.color-orange{
    color: #FD6E0A;
}

.text-center{
    text-align: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: #fff8f3;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#banner{
    margin: 47px 38px 0 231px;
    display: flex;
    align-items: center;
}

#banner-content{
    max-width: 580px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .bannar img{
    max-width: 580;
}

#about,
#skills,
#resume{
    padding-top: 130px;
}

#about .about-container{
    width: 89%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}


.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.about-info h4{
    font-size: 18px;
    line-height: 30px;
}

#skills .skill-container{
    width: 89%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skill-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000002c;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
}

#resume .resume-container{
    width: 89%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-container hr{
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 20px;
}

footer{
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px 0;
}

.footer-container{
    width: 89%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-container .icons   a{
    margin-right: 24px;
}

.footer-container form input[type="text"], .footer-container form textarea {
    width: 460px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}


